{
  "presets": [
    "@babel/preset-typescript",
    // Automatically import React
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  // https://react.dev/learn/react-compiler
  "plugins": ["babel-plugin-react-compiler"]
}
